:root {
  box-sizing: border-box;
  --ModerateBlue: hsl(238, 40%, 52%);
	--SoftRed: hsl(358, 79%, 66%);
	--Lightgrayishblue: hsl(239, 57%, 85%);
	--Palered: hsl(357, 100%, 86%);

	--Darkblue: hsl(212, 24%, 26%);
	--GrayishBlue: hsl(211, 10%, 45%);
	--Lightgray: hsl(223, 19%, 93%);
	--VeryLightGray: hsl(228, 33%, 97%);
	--White: hsl(0, 0%, 100%);

	--fs-paragraph: 1rem;

	--ff: "Rubik", sans-serif;
	--fw-s: 400;
	--fw-m: 500;
	--fw-l: 700;
}
*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff);
}
#app {
  max-width: 1440px;
  margin-inline: auto;
  min-height: 100vh;
  background-color: var(--VeryLightGray);
  padding: 1em;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.commentsContainer {
  /* background-color: var(--White); */
  /* padding: 1.5em; */
  /* border-radius: 8px; */
}

.commentsContainer + .commentsContainer {
  margin-top: 2em;
}











.commentWrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, auto);
	/* justify-content: start; */
  align-items: start;
	color: var(--GrayishBlue);

	background-color: var(--White);
  border-radius: 8px;
	padding: 1.5em;

}
.profile {
	grid-column: 1/-1;
	grid-row: 1;
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.avatar {
	height: 2em;
}
.profileName {
	color: var(--Darkblue);
	font-weight: var(--fw-l);
}
.currentUser {
  background-color: var(--ModerateBlue);
  color: var(--White);
  padding: .2em .3em;
  font-size: .9rem;
  border-radius: 3px;
}
.createdAt {
}
.comment__content {
	grid-column: 1/-1;
	grid-row: 2;
	margin: 1em 0;
}
.counter {
	grid-column: 1;
	grid-row: 3;
	justify-self: start;
	background-color: var(--VeryLightGray);
	/* padding: .5em; */
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	border-radius: 6px;
	/* width: 4.5em; */
}
.btn {
	padding: 0.8em;
	/* position: relative; */
	text-transform: uppercase;
	font-weight: var(--fw-l);
	color: var(--ModerateBlue);
}
.btn--minus img {
	display: flex;
}
.score {
	color: var(--ModerateBlue);
}
.modifyCommentBtns {
	grid-column: 2;
	grid-row: 3;
	/* align-self: end; */
	/* justify-self: end; */
	/* margin-right: auto; */
	display: inline-flex;
	justify-content: space-between;
}
.editAndDeleteWrapper {
  /* display: inline-block;
  text-align: right; */
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.btn--delete {
	color: var(--SoftRed);
}
.btn--edit {
}
.btn--replyWrapper {
	margin-left: auto;
}
.btn--reply {
	display: inline-flex;
	align-items: center;
	gap: 0.4em;
	/* text-transform: uppercase; */
	/* font-weight: var(--fw-l); */
}

.replyContainer {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
  position: relative;
  list-style: none;
}
.replyContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: var(--Lightgrayishblue);
}
.replyContainerContnents {
  width: 95%;
  /* align-self: ; */
}

/* form======================================================== */
.formContainer {
	background-color: var(--White);
	border-radius: 8px;
	padding: 1em;
}
.form {
	/* background-color: red; */
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}
.form__control {
	grid-column: 1/-1;
	grid-row: 1;
}
textarea {
	width: 100%;
	border-radius: 8px;
	border: 1px solid var(--Lightgrayishblue);
	padding: 1em;
	background-color: transparent;
}
::placeholder {
	color: var(--GrayishBlue);
	font-size: 1.1rem;
	font-weight: var(--fw-l);
}
.avatar {
	grid-column: 1;
	grid-row: 2;
}
.submit {
	grid-column: 2;
	grid-row: 2;
	justify-self: end;
	background-color: var(--ModerateBlue);
	color: var(--White);
	text-transform: uppercase;
	padding: 1em 1.5em;
	border-radius: 8px;
}
@media (min-width: 580px) {
	.commentWrapper {
		display: grid;
		grid-template-columns: 3em 1fr auto;
		grid-template-rows: repeat(2, auto);
		/* justify-content: start; */
		color: var(--GrayishBlue);
	}

	.counter {
		grid-column: 1;
		grid-row: 1/-1;
		justify-self: start;
		align-self: start;
		/* padding: .5em; */
		display: inline-flex;
		flex-direction: column;
		align-items: center;

		/* width: 4.5em; */
	}

	.profile {
		grid-column: 2;
		grid-row: 1;
	}
	.comment__content {
		grid-column: 2/-1;
		grid-row: 2;
		/* margin: 1em 0; */
	}
	.modifyCommentBtns {
		grid-column: 3;
		grid-row: 1;
		/* align-self: end; */
		/* justify-self: end; */
		/* margin-right: auto; */
		display: inline-flex;
		justify-content: space-between;
	}

	.form {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto 1fr auto;
		align-items: start;
		gap: 1em;
	}
	.form__control {
		grid-column: 2;
		grid-row: 1;
	}
	textarea {
		width: 100%;
		border-radius: 8px;
		border: 1px solid var(--Lightgrayishblue);
		padding: 1em;
		background-color: transparent;
	}
	.avatar {
		grid-column: 1;
		grid-row: 1;
	}
	.submit {
		grid-column: 3;
		grid-row: 1;
	}
}

@media (min-width: 1024px) {

  #app {

  }
}
